.slider {
  width: 1209px;
  height: 656px;
  background: url("/images/bg-slider.png") no-repeat 50% 0;
  padding: 25px 70px;
  margin: 0 auto 150px;
  max-width: 100%;
  position: relative;
}

.chevronBtn {
  width: 20px;
  height: 28px;
  background: url("/images/icon-chevron.svg") no-repeat;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 30%;
  padding: 0;
  transform: translate(0, -30%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  z-index: 1;
}
.chevronBtnNext {
  right: 0;
  transform: scaleX(-1);
}
.chevronBtnPrev {
  left: 0;
}
.h2 {
  font-size: 40px;
  line-height: 42px;
  font-weight: 400;
  margin: 0 0 5px;
}
.desc {
  font-size: 23px;
  line-height: 28px;
  margin: 0 0 15px;
}
.grid {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 30px -50px;
}
.grid > * {
  padding-left: 50px;
}
@media (max-width: 768px) {
  .h2,
  .desc,
  .grid {
    display: none;
  }
  .slider{
    background: url("/images/bg-slider-md.png") no-repeat 50% 0;
    margin: 0 0 110px 0;
    background-size: cover;
    height: 348px;
    width: auto;
    padding: 90px 0 20px 20px;
  }
  .sliderFrame{
    margin-left: -45%;
  }
}
@media (max-width: 480px) {
  .sliderFrame{
    margin-left: -40%;
  }
}