.button {
  display: inline-block;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  transition: opacity 0.3s;
  font-family: inherit;
  overflow: hidden;
  padding: 0 15px;
}

.button:hover {
  opacity: 0.9;
}

.icon {
  display: block;
  margin: 0 auto;
}
.frame {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.text {
  display: block;
}
