.section {
  background: #fff;
  padding: 200px 0;
  position: relative;
}
.container {
  width: 1155px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}
@media (max-width: 1024px) {
  .section {
    padding: 50px 0;
  }
  .container {
    padding: 0 10px;
  }
}
@media (max-width: 640px) {
  .container {
    padding: 0 5px;
  }
}
