.section {
  text-align: center;
  background: #050f0b url("/images/bg-forest.jpg") 50% 0 no-repeat;
  padding: 30px 0;
  color: #fff;
}
.imgMap {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.h2,
.h3 {
  font-size: 74px;
  line-height: 1;
  font-weight: 400;
}
.h3 {
  font-size: 23px;
  margin-bottom: 20px;
}

.textYellowColor {
  color: #fbba0e;
}
.warning {
  font-family: "Gabarito", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #7e8b8d;
  text-transform: uppercase;
  margin: 0 auto 30px;
  max-width: 100%;
  width: 1100px;
}
.h2VisibleM,
.h3VisibleM{
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  margin-bottom: 30px;
}
.h3VisibleM{
  font-size: 18px;
  line-height: 1.2;
}
@media (min-width: 640px) {
  .h2VisibleM,
  .h3VisibleM{
    display: none;
  }
}
@media (max-width: 640px) {
  .h2White {
    font-size: 44px;
  }
  .h3White {
    font-size: 16px;
  }
  .h2.textYellowColor{
    margin-bottom: 110px;
  }
}
