.stickyBox {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 125px;
  width: 1320px;
  padding: 0 20px;
  max-width: 100%;
  z-index: 1000;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  justify-content: space-between;
  align-items: center;
}
.grid > * {
  margin-left: 20px;
}
