.socialIcons {
  display: flex;
  align-items: center;
  gap: 37px;
}
.socialIconsVertical{
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: normal;
}
.icon {
  transition: transform 0.3s ease;
}
.icon:hover {
  transform: scale(1.1);
}
.link {
  display: block;
  position: relative;
  text-decoration: none;
}
@media (max-width: 768px) {
  .socialIcons {
    display: none;
  }
}
