.image {
  text-align: right;
  padding: 0 284px 17px 0;
}
.frame {
  display: inline-block;
  position: relative;
  width: 284px;
}
.comment {
  position: absolute;
  right: 0;
  top: 30px;
}
.imgSloth {
  display: block;
}
